.b-gra{
	border-color:#d8d8d8;
}
.t-blu
{
	color:#177fc7;
}
.uinnh5
{
	padding:0.8em 0.5em;
	margin:0;
}
.respwd{
	background-image:url('myImg/pwd.png');
}
.resuser{
	background-image:url('myImg/user.png');
}
.resqq{
	background-image:url('myImg/qq.png');
}
.resren{
	background-image:url('myImg/renren.png');
}
.resxinlang{
	background-image:url('myImg/xinlang.png');
}
.umhw{
	min-height:1em;
	min-width:1em;
}
.umhw2{
	min-height:3.6em;
	min-width:3.6em;
}
.ulab .uinput
{
	margin-left:3px
}
.uinput input,.uinput textarea
{
	margin:0px;
	border:0px;
	width:100%;
	height:100%;
	-webkit-appearance: none;
	padding: .4em 0;
	line-height: 1.2em;
	background:none;
	text-decoration: none;
	font-size: 1em;
	display:block;
}
