.pic4 {
    background-image: url('myImg/pic4.png');
}

.uh-pic3 {
    height: 11.4em;
}

.uh-pic4 {
    height: 5.9375em;
}

.uh-pic5 {
    height: 4.375em;
}

.t-gre-pic4 {
    color: #57b100;
}

.uinn-pic4 {
    padding: 0.39em 0.28em 0.17em 0.44em
}

.uabs-rb {
    position: absolute;
    right: 0;
    bottom: 0;
}

.umar-at3-pic4 {
    margin-top: 0.46875em;
}

.umar-r-pic4 {
    margin-right: 0.375em;
}
.uinn-a1{
    padding:0.625em;
}
.umar-ar6{
    margin-right:0.46875em;
}
.c-gra1{
    background-color:#e8e8e8;
}

.uwh-pic4 {
    width: 0.375em;
    height: 0.375em;
}

.uc-a-pic4 {
    -webkit-border-radius: 0.375em;
    border-radius: 0.375em;
}

.c-gra1-pic4 {
    background-color: #a9a9a9;
}

.c-gra2-pic4 {
    background-color: #5e5e5e;
}

.c-gra3 {
    background-color: #dadada;
}

.search {
    background-image: url('myImg/search.png');
}
.umar-ar6 {
    margin-right: 0.46875em;
}