.uh-pic3{
	height:7.875em;
}
.ubas-pic3{
	position:absolute;
	left:0.5em;
	bottom:2.25em;
}
.uwh-pic3{
	width:3.75em;
	height:0.0625em;
}
.c-wh-pic3{
	background-color:rgba(255,255,255,0.5);
}
.pic-icon1{
	background-image:url(myImg/pic-icon1.png);
}
.pic-icon2{
	background-image:url(myImg/pic-icon2.png);
}

.umar-b-pic3{
	margin-bottom:0.625em;
}
.c-gra3{
	background-color:#dadada;
}
.search{
	background-image:url('myImg/search.png');
}
.uinn-a16{
	padding:0.125em;
}
.t-wh2{
	color:rgba(255,255,255,0.6);
}
.umar-ar6{
	margin-right:0.46875em;
}
.uwh-icon4{
	width:0.5em;
	height:0.5em;
}
.t-gra8{
	color:#a1a1a1;
}
.like1{
	background-image:url(myImg/like.png);
}
.like2{
	background-image:url(myImg/like2.png);
}
.uinn-a1{
    padding:0.625em;
}
.c-wh
{
    background-color:#FFF;
}
.uinn-a16{
    padding:0.125em;
}
.uinn-a7{
    padding:0 0.625em;
}
.umar-ar6{
    margin-right:0.46875em;
}
.uinn-a16{
    padding:0.125em;
}