.c-gra-d6{
	background-color:#d6d6d6;
}
.t-gra-4b
{
	color:4b4b4b;
}
.umh-list8{
	height:7.8125em;
}
.umw-list6{
	width:5.9375em;
}
.t-blu1-list{
	color:#218dd5;
}

.uh-ban{
	height:6.25em;
}
/*banner小点*/
.uc-a-for1{
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
}
.c-gra-for2{
	background-color:rgba(255,255,255,0.3);
}
.umar-r-for{
	margin-right:0.3125em;
}
.uwh-for1{
	width:0.25em;
	height:0.25em;
}

.uinn-b1{
	padding:0.625em 0 0 0.625em;
}
.uinn-r1{
	padding:0.625em 0 0.3em 0;
}
.t-bla-28{
	color:#282828;
}
.umar-tn1{
	margin-top:0.625em;
}
.b-gra-a6{
	border-color:#a6a6a6;
}
.uinn-5{
	padding:0.5em 0.83em 0.4em 0.83em;
}
.b-blu-218{
	border-bottom:0.125em solid #218dd5;
}
.umar-ar6{
    margin-right:0.46875em;
}
.ulev-app2{
    font-size:0.9375em;
}
.uinn-a1{
    padding:0.625em;
}
.mar-ar1{
    margin-right:0.625em;
}
