.uinn-gian{
	padding:1.25em 0 0.75em 0;
}
.ulev-gain{
	font-size:3.125em;
}
.umar-t-gain{
	margin-top:0.12em;
}
.uh-gain{
	height:1.5625em;
}
.uinn-l-gain{
	padding-left:0.83em;
}
.uinn-r-gain{
	padding-right:0.83em;
}
.c-gra-gain{
	background-color:#a7a7a7;
}
.t-gra8{
	color:#a1a1a1;
}
.c-wh{
    background-color: white;
}
.umar-at1{
    margin-top:0.625em;
}
.uinn-a7{
    padding:0 0.625em;
}
.border-1{
    border: 10px solid #DFDFDF;
}
.border-2{
    border-bottom: 10px solid #DFDFDF;
}
