.uinn-me2{
	padding:1.3em 0 1.9em;
}
.uinn-me2-1{
	padding:0.625em 0.5em 0.625em 0.625em;
}
.uinn-me2-2{
	padding-top:0.8em;
}
.load-me2{
	background-image:url('myImg/metro2Load.png');
}
.me2Icon1{
	background-image:url('myImg/me2Icon1.png');
}
.me2Icon2{
	background-image:url('myImg/me2Icon2.png');
}
.me2Icon3{
	background-image:url('myImg/me2Icon3.png');
}
.me2Icon4{
	background-image:url('myImg/me2Icon4.png');
}
.me2Icon5{
	background-image:url('myImg/me2Icon5.png');
}
.me2Icon6{
	background-image:url('myImg/me2Icon6.png');
}
.me2Icon7{
	background-image:url('myImg/me2Icon7.png');
}
.me2Icon8{
	background-image:url('myImg/me2Icon8.png');
}
.me2Icon9{
	background-image:url('myImg/me2Icon9.png');
}
.me2Icon10{
	background-image:url('myImg/me2Icon10.png');
}
.me2Icon11{
	background-image:url('myImg/me2Icon11.png');
}
.me2Icon12{
	background-image:url('myImg/me2Icon12.png');
}
.me2Bg{
	background-image:url('myImg/me2Bg1.png');
}
.me2Bg1{
	background-image:url('myImg/me2Bg.png');
}
.c-gre-me2{
	background-color:#76c044;
}
.c-bla-me2{
	background-color:#363636;
}
.c-blu-me2{
	background-color:#3b5998;
}
.c-gra-me2{
	background-color:#bfbfbf;
}
.c-blu2-me2{
	background-color:rgba(99,114,133,0.6);
}
.t-blu-me2{
	color:#218dd5;
}
.uwh-me2{
	width:6.3em;
	height:3.75em;
}
.uwh-me2-3{
	width:1.875em;
	height:0.8125em;
}
.uwh-me2-4{
	width:3em;
	height:2.375em;
}
.uwh-me2-5{
	width:6.28em;
	height:1.75em;
}
.uwh-me2-6{
	width:2.625em;
	height:3.0625em;
}
.umar-me2-r1{
	margin-right:0.4375em;
}
.umar-me2-r2{
	margin-right:0.15em;
}
.umar-me2-L1{
	margin-left:0.4375em;
}
.umar-me2-L2{
	margin-left:0.15em;
}
.ulev-me2-1{
	font-size:2.25em;
}
.uw-app1{
	width:50%;
}
.uwh-icon4{
	width:0.5em;
	height:0.5em;
}
.btn_wh1{
    width:1em;
    height:1em;
}