.uh-pic5-1{
	height:4.375em;
}
.pic5-icon{
	background-image:url(myImg/icon1.png);
}
.t-gra-pic5{
	color:#888888;
}
.uinn-pic5-2{
	padding-top:0.9em;
}
.umar-t-pic5{
	margin-top:0.46875em;
}
.umar-ar6{
    margin-right:0.46875em;
}
.uinn-a7{
    padding:0 0.625em;
}
.ulev-app2{
    font-size:0.9375em;
}