.uinn-mito1{
	padding:0.625em 0 0.3125em 0;
}
.uinn-mito2{
	padding:0.3125em 0;
}
.uh-mito1{
	height:9.0625em;
}
.mito-icon1{
	background-image:url('myImg/mito-icon1.png');
}
.mito-icon2{
	background-image:url('myImg/mito-icon2.png');
}
.umar-r-mito{
	margin-right:1.125em;
}
.uwh-icon1{
	width:0.75em;
	height:0.75em;
}
.uamr-ar5{
	margin-right:0.25em;
}
.t-gra9{
	color:#9c9c9c;
}
.ulev-app2{
    font-size:0.9375em;
}
.umar-at1{
    margin-top:0.625em;
}
.uinn-a7{
    padding:0 0.625em;
}