.res-order{
	background-image:url(images/order.png);
}
.res-wallet{
	background-image:url(images/wallet.png);
}
.res-message{
	background-image:url(images/message.png);
}
.res-favorite{
	background-image:url(images/favorite.png);
}
.res-pwdprotection{
	background-image:url(images/pwdprotection.png);
}
.t-686{
	color:#686868;
}
.umwh-m{
	min-height:3.75em;
	min-width:5em;
}
.uinn-m{
	padding:.875em 1.875em 1px 1.875em;
}
.uinn-mtxt{
	padding:0 0 0 1.875em;
}
.ubb-m{
	border-bottom:1px solid #cfcfcf;
}
.c-wh{
    background-color: white;
}
