.t-gra-book{
	color:#4b4b4b;
}
.uinnh5
{
	padding:0.8em 0.5em;
	margin:0;
}
.b-gra-pop{
	border-color:#a4a4a4;
}
.c-red-pop{
	background-color:#D13434;
}
.t-gra
{
	color:gray;
}
.btn{
	font-size: 1em;
	text-align:center;
}