.uinn-t-pie{
	padding-top:1.25em;
}
.t-gra6{
	color:#c2c2c2;
}
.uinn-a9{
	padding:0.75em 0.625em;
}
.uinn-a7{
    padding:0 0.625em;
}
.c-gra1{
    background-color:#e8e8e8;
}
.mar-ar1{
    margin-right:0.625em;
}
.ulev-app2{
    font-size:0.9375em;
}
.ufm1{
    font-family:Arial;
}
.c-wh
{
    background-color:#FFF;
}