.uwh-eleL{
	height:8.5625em;
}
.uinn-ele1
{
	padding:0.25em 0.25em 0 0.25em;
}
.uinn-ele2
{
	padding:0.67em 0 0.58em 0;
}
.uinn-ele3{
	padding-top:0.625em;
}
.t-gra-ele
{
	color:#535353;
}
.t-red-eleL{
	color:#cf0b0b;
}
.umw-eleL{
	width:9em;
}

.mar-aL1{
    margin-left:0.625em;
}
.c-wh{
    background-color: white;
}
