.uh-fil{
	height:2.5em;
}
.uw-fil{
	width:37.5%;
}
.c-f3{
	background-color:#f3f3f3;
}
.uinn-lfil{
	padding-left:1.54em;
}
.uinn-lfil2{
	padding-left:0.625em;
}
.b-b4{
	border-color:#b4b4b4;
}
.t-58{
	color:#585858;
}
.umar-rfil{
	margin-right:1em;
}
input[type="radio"] + div.sel-bg{
	background-color:#f3f3f3;
	color:#000;
}
input[type="radio"]:checked + div.sel-bg{
	background-color:#fff;
	color:#218dd5;
}