.uinn-ver{
	padding:1.1em 0 2em 0;
}
.versionIcon{
	background-image:url('myImg/version.png');
}
.uwh-ver2{
	width:3.5625em;
	height:3.5625em;
}
.umar-b-ver{
	margin-bottom:0.625em;
}
.t-gra-ver{
	color:#bebebe;
}
.t-gra8{
	color:#a1a1a1;
}
.t-gra9{
	color:#9c9c9c;
}













