.uinn-pLb1{
	padding-bottom:0.7em;
}
.uinn-pL1{
	padding:1em 0.625em 0.35em 0.625em;
}
.userImg{
	background-image:url('myImg/userImg.png');
}
.pwdImg{
	background-image:url('myImg/pwdImg.png');
}
.mar-ar2{
	margin-right:0.375em;
}
.b-gra3{
	border-color:#d8d8d8;
}
.t-gra2{
	color:#d8d8d8;
}
.uinn-a6{
	padding:1em 0.65em 0 0.65em;
}
.uinn-a2{
	padding:0.85em 0;
}
.uinn-at2{
	padding-top:0.75em;
}
.c-blu2{
	background-color:#415a79;
}
.uinn-at1{
    padding-top:1em;
}










