.rank-bg{
	background-image:url('myImg/r-bg.png');
}
.ub-img-rank{
	background-repeat:repeat-x;
	background-position:left top;
}
.c-blu-rank{
	background-color:#a0bbed;
}
.t-blu-rank{
	color:#2d4572;
}
.uinn-t-rank{
	padding-top:0.625em;
}
.uw-rank{
	width:20%;
}
.uw-rank2{
	width:26%;
}
.uinn-a6{
	padding:1em 0.65em 0 0.65em;
}
.t-gra5{
	color:#686868;
}
.umar-fr1{
	margin-top:-1px;
}
.uinn-a1{
    padding:0.625em;
}
.ulev-app1{
    font-size:0.875em;
}
