.c-gra-48{
	background-color:#484848;
}
.c-gra-d6{
	background-color:#d6d6d6;
}
.uinn-eo1{
	padding:0.625em 0.625em 0.3125em 0.625em;
}
.address-icon{
	background-image:url('myImg/icon1.png');
}
.t-gra5{
	color:#686868;
}
.t-gra-48{
	color:#484848;
}
.t-gra-95{
	color:#959595;
}
.uinn-eo2{
	padding:0.3125em;
}
.uinn-eo3{
	padding:0 0.3125em;
}
.uinn-eo4{
	padding:0.625em 0.3125em;
}
.uinn-eo5{
	padding:0.75em 0.3125em;
}

.uinn-eo6{
	padding:0.25em 0.3125em;
}
.uinn-eo7{
	padding:1.167em 0;
}
.uinn-eo8{
	padding:0.3125em 0.625em;
}
.uh-app1{
	height:3.125em;
}
.uw-app2{
	width:3.125em;
}
.b-gra-d6{
	border-color:#d6d6d6;
}
.b-gra-af{
	border-color:#afafaf;
}
.uinput textarea.mes{
	font-size:0.75em;
	color:#b3b3b3;
}
.t-org-c9{
	color:#c95500;
}

.uinn-a7{
    padding:0 0.625em;
}
.mar-ar1{
    margin-right:0.625em;
}

