.t-gra-infor{
	color:#626262;
}

.uinn-infor1{
	padding:0.375em 0.83em;
}
.uw-infor{
	width:4em;
}
.uwh-infor{
	width:2em;
	height:2em;
}
.umar-r-infor{
	margin-right:1em;
}

.lin-hei1{
	line-height:1.3em;
}
.c-gra-infor{
	background-color:#c0c0c0;
}
.goods-infor1{
	background-image:url('myImg/goods1.png');
}
.uinn-a6{
	padding:1em 0.65em 0 0.65em;
}
.umar-ar4{
	margin-right:0.3125em;
}
.uinn-a9{
	padding:0.75em 0.625em;
}
.ulev-app1{
    font-size:0.875em;
}
.uinn-a1{
    padding:0.625em;
}
.t-red1
{
    color:#de1010;
}
.c-wh
{
    background-color:#FFF;
}
.t-gre1{
    color: rgb(47, 255, 89);
}
