.c-gra-d6{
	background-color:#d6d6d6;
}
.b-gra-a6{
	border-color:#a6a6a6;
}
.t-bla-28{
	color:#282828;
}
.ubb-01{
	border-bottom:0.125em solid;
}
.uinn-5{
	padding:0.5em 0.83em 0.4em 0.83em;
}
.b-gra-c9{
	border-color:#c9c9c9;
}
.uinn-16{
	padding:0.9em 0.625em;
}
.t-gra-63{
	color:#636363;
}
.ulev-app2{
    font-size:0.9375em;
}
