.uh-fsea{
	height:3.125em;
}
.uh-fsea2{
	height:2.857em;
}
.ad-fsea
{
	background-image:url('myImg/ad1.png');
}
.icon-fsea1
{
	background-image:url('myImg/formSeach1.png');
}
.icon-fsea2
{
	background-image:url('myImg/formSeach2.png');
}
.icon-fsea3
{
	background-image:url('myImg/formSeach3.png');
}
.icon-fsea4
{
	background-image:url('myImg/formSeach4.png');
}
.uwh-fsea{
	width:0.75em;
	height:0.75em;
}
.umar-r-fsea1{
	margin-right:0.71em;
}
.umar-L-fsea2{
	margin-left:0.71em;
}
.uinn-fsea{
	padding:0 0.857em;
}
.uinn-a10{
	padding:1em 0;
}
.t-gra4{
	color:#8c8c8c;
}
.ubb-app1{
	border-bottom:4px solid;
}
.uinn-a7{
    padding:0 0.625em;
}
.ulev-app1{
    font-size:0.875em;
}
.btn_wh1{
    width:1em;
    height:1em;
}
.c-wh{
    background-color: white;
}
