.uwh-pS1 {
	width: 1.28em;
	height: 1.28em;
}
.uinn-Set2{
	padding:1.1em 0 0.7em 1.5em;
}
.setImg1{
	background-image:url('myImg/set_img1.png');
}
.setImg2{
	background-image:url('myImg/set_img2.png');
}
.setImg3{
	background-image:url('myImg/set_img3.png');
}
.setImg4{
	background-image:url('myImg/set_img4.png');
}
.setImg5{
	background-image:url('myImg/set_img5.png');
}
.setImg6{
	background-image:url('myImg/set_img6.png');
}
.setImg7{
	background-image:url('myImg/set_img7.png');
}
.uinn-a8{
	padding:0.4em 0.7em 0.3em 0.7em;
}
.ulev-app1{
    font-size:0.875em;
}
.t-gra3{
    color:#484848;
}
.uinn-a7{
    padding:0 0.625em;
}
.c-wh
{
    background-color:#FFF;
}