.uh-de{
	height:15em;
}
.uh-de2{
	height:2.4em;
}
.t-bla-de{
	color:#43484b;
}
.t-bla-de2{
	color:#b6b6b6;
}
.t-org-de3{
	color:#f1792a;
}
.uinn-de{
	padding:0 0 0 1.25em;
}
.uinn-de2{
	padding:0.84375em 1.25em;
}
.uinn-de3{
	padding:0.375em 0.625em 0.625em 0.625em;
}
.uinn-r-de{
	padding-right:0.625em;
}
.uwh-de1{
	width:2.5em;
	height:2.5em;
}
.uc-a-de{
	-webkit-border-radius: 2.5em;
	border-radius: 2.5em;
}
.b-gra-de{
	border-color:#828282;
}
.like1{
	background-image:url(images/like.png);
}
.like2{
	background-image:url(myImg/like2.png);
}
.ulev2 {
	font-size: 1.5em;
}
.uinn-a14{
	padding:0.33em 0.67em 0.28em 0.67em;
}
.b-gre1{
	border-color:#6cbd15;
}
.t-gre2{
	color:#6cbd15;
}
.c-gre1{
	background-color:#f2ffe7;
}
.utx-de{
	text-decoration:line-through; 
}
.uinn-a9{
	padding:0.75em 0.625em;
}
.uc-a-for1{
	-webkit-border-radius: 0.4375em;
	border-radius: 0.4375em;
}
.c-gra-for2{
	background-color:rgba(255,255,255,0.2);
}
.umar-r-for{
	margin-right:0.4375em;
}
.uwh-for1{
	width:0.4375em;
	height:0.4375em;
}
.umar-at1{
    margin-top: .5em;
}
.mar-ar1{
    margin-right: .5em;
}
.uinn-a7{
    padding: .7em;
}
.uinn-a1{
    padding: .4em
}

