
.uw-order1{
	width:60.3%;
}
.uinn-order1{
	padding:0.3em 0;
}
.goodsImg1{
	background-image:url('myImg/img1.png');
}
.umar-r-order{
	margin-right:1em;
}
.umar-r-order2{
	margin-right:2.6em;
}
.ulev-order{
	font-size:0.625em;
}
.b-gra-order{
	border-color:#6e6e6e;
}
.b-org-order{
	border-color:#f78c3e;
}
.t-org-order{
	color:#f78c3e;
}
.c-gra3{
	background-color:#dadada;
}
.search{
	background-image:url('myImg/search.png');
}
.umar-ar4{
	margin-right:0.3125em;
}
.uh-app1{
	height:3.125em;
}
.uw-app2{
	width:3.125em;
}
.uh-app2{
	height:2.2em;
}
.umar-at1{
    margin-top:0.625em;
}
.uinn-a7{
    padding:0 0.625em;
}
.uinn-a11{
    padding:0.625em 0;
}
.mar-ar1{
    margin-right:0.625em;
}
.uinn-a1{
    padding:0.625em;
}