.bill-icon1{
	background-image:url('myImg/bill-icon1.png');
}
.bill-icon2{
	background-image:url('myImg/bill-icon2.png');
}
.bill-icon3{
	background-image:url('myImg/bill-icon3.png');
}
.bill-icon4{
	background-image:url('myImg/bill-icon4.png');
}
.bill-icon5{
	background-image:url('myImg/bill-icon5.png');
}
.bill-icon6{
	background-image:url('myImg/bill-icon6.png');
}
.select{
	background-image:url('myImg/bill-icon7.png');
}
.uinn-bill{
	padding:0.37em 1.25em 0.37em 0.625em
}
.uwh-icon5{
	width:1.25em;
	height:1.25em;
}



















