.uinn-sea3-1{
	padding:0.5em 0.625em;
}
.uinn-sea3-3{
	padding:1.07em 0.77em;
}
.c-gra-7c{
	background-color:#7d7c7c;
}
.b-gra-7c{
	border-color:#7d7c7c;
}
.uba-sea3{
	border:0.0625em solid;
}
.t-gra-7c{
	color:#7d7c7c;
}
.t-gra-67{
	color:#676767;
}
.b-gra-ad{
	border-color:#adadad;
}

.uba-sea4{
	border:0.0625em solid #7d7c7c;
}
