.uinn-sea3-1{
	padding:0.5em 0.625em;
}
.uinn-sea3-2{
	padding:1em 1.25em;
}
.c-gra-7c{
	background-color:#7d7c7c;
}
.b-gra-7c{
	border-color:#7d7c7c;
}
.uba-sea3{
	border:2px solid #dedede;
}
.uba-sea4{
	border:2px solid #7d7c7c;
}
.t-gra-7c{
	color:#7d7c7c;
}
.t-gra-82{
	color:#828385;
}
.clear{
	clear:both;
}
.mar-ar1{
    margin-right:0.625em;
}
.uinn-a7{
    padding:0 0.625em;
}
.umar-at1{
    margin-top:0.625em;
}
.uinn-a7{
    padding:0 0.625em;
}








