.t-gra-9f{
	color:#9f9f9f;
}
.uinn-na{
	padding:1.25em 0 0.75em 0.83em;
}
.uinn-na2{
	padding:0 0.25em;
}
.uinn-na3{
	padding:1em 0.375em;
}
.b-gra-b7{
	border-color:#b7b7b7;
}
.b-gra-be{
	border-color:#bebebe;
}
.t-gra-59{
	color:#595959;
}
.c-wh{
    background-color: white;
}
.uinn-a7{
    padding:0 0.625em;
}