.uh-pic1{
	height:27.7em;
}
.c-bla-50{
	background-color:rgba(0,0,0,0.4);
}
.uinn-pic1{
	padding:0.5em 0.625em;
}
.uinn-pic2{
	padding:0 0.3125em;
}
.uinn-pic3{
	padding:0.5em  0.3125em 0.625em 0.3125em;
}
.uh-pic2{
	height:2.8em;
}
.ulh-pic1{
	line-height:1.4em;
}
.uof-pic{
	overflow-x:hidden;
	overflow-y:auto;
}
.t-gra-4b{
	color:#4b4b4b;
}
.mar-ar1{
    margin-right:0.625em;
}
.ufm1{
    font-family:Arial;
}
