.b-gra{
	border-color:#b7b7b7;
}
.t-gra1{
	color:#787878;
}
.umwh{
	min-width:0.6em;
	min-height:1em;
}
.c-orange{
	background-color:#c98d2e;
}
.c-green{
	background-color:#5e9e25;
}
.c-red-oa{
	background-color:#cf3a3a;
}
.uc-a-list1{
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em
}