
.b-gra{
	border-color:#d6d6d6;
}
.t-gra1{
	color:#787878;
}
.resad{
	background-image:url('myImg/pop.png');
}
.umwh{
	min-height:9em;
	min-width:7.25em;
}
.umar-h1{
	margin:1em .5em 0 .5em;
}
.c-wh{
    background-color: white;
}
