.setImg1{
	background-image:url('myImg/set_img1.png');
}
.setImg2{
	background-image:url('myImg/set_img2.png');
}
.setImg3{
	background-image:url('myImg/set_img3.png');
}
.setImg4{
	background-image:url('myImg/set_img4.png');
}
.setImg5{
	background-image:url('myImg/set_img5.png');
}
.setImg6{
	background-image:url('myImg/set_img6.png');
}
.uinn-pS1{
	padding:0.3em 0.59em;
}
.uwh-icon5{
	width:1.25em;
	height:1.25em;
}
.uinn-a1{
    padding:0.625em;
}
.c-wh
{
    background-color:#FFF;
}
.umar-at1{
    margin-top:0.625em;
}